.underline {
    height: 1px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#time .MuiSelect-icon {
    display: none
}

.MuiInputBase-input {
    color: #4f4039;
}

.MuiFormLabel-root {
    font-size: 17px;
    margin-right: 10px;

}