
.bBtn {
    background-color: darkgray;
    color: white;
}

.bBtn:hover {
    background-color: lightgray;
}
.sBtn {
    background-color: #2d91fc;
    color: white;
}
.sBtn:hover {
    background-color: #2078d6;
}
.sBtn:disabled {
    background-color: #6fb5ff;
}
.checkBox {
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
}

.row1 {
    display: flex;
    flex-direction: row;
}

.proceedBtn {
    text-transform: uppercase;
}
